@keyframes example {
    from {font-size: 0px; left:50px;}
    to {font-size: 100px; left: 500px;}
}

h1 {
    color : blue;
}

h2 {
    background-color: paleturquoise;
}

h3 {
    font-size: 100px;
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;
    color: whitesmoke;

    background-image: url("https://static1.personalitydatabase.net/2/pdb-images-prod/5f7f4470/profile_images/dfaff2d139ec48888dd51cc72739f7d7.png");
}

h4 {
    margin: auto;
    height: 50%;
    width: 50%;
    text-align: center;
}

p {
    margin: auto;
    width: 100%;
    text-align: center;
}

div {
    margin: auto;
    width: 50%;
    height: 100px;
    background: whitesmoke;

    font-size: medium;
    color: black;
    border: 5px solid gray;

    width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

h5 {
    font-size: 60px;
    color: white;
}

html {
    background-image: linear-gradient(to bottom, black, rgb(0, 0, 44));
    background-repeat: no-repeat;
}

